html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #1DB954; /* Spotify Green */
}

#login-button, #search-button, #youtube-search-button, #clear-all-history {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

#search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#search-container > div {
    width: 48%;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: calc(100% - 100px);
}

#results-container {
    display: flex;
    justify-content: space-between;
}

#spotify-results, #youtube-results {
    width: 48%;
    min-height: 400px; /* Adjust as needed */
}

.track-list, .video-list {
    list-style-type: none;
    padding: 0;
}

.track, .video {
    background-color: #282828;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.track-container, .video-container {
    display: flex;
    align-items: center;
}

.album-cover, .video-thumbnail {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    object-fit: cover;
}

.play-pause-btn, .play-video-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}

.track-info, .video-info {
    flex-grow: 1;
}

.video-info p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #aaa;
}

#video-container {
    margin-top: 20px;
}

#video-player {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border: none;
}

.error-message {
    color: #ff4444;
    font-weight: bold;
}

#search-history {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

#search-history li {
    background-color: #282828;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

#search-history li:hover {
    background-color: #1DB954;
}

.loading-indicator {
    margin-top: 20px;
    color: #1DB954;
}